<!-- alinear en horizontal-->
<div class="bg-gray-50 border-t border-gray-200">
    <!-- alinar en vertical-->
    <div class="max-w-7xl mx-auto flex items-center justify-between px-8 py-16">
        <div class="flex flex-col gap-6">
            <h1 class="text-xl font-semibold mb-4">Tu crédito en línea de fórma facil y segura</h1>
            <p class="mt-3 text-gray-600">Solicita tu crédito en minutos y recibe el dinero que necesitas directamente en tu cuenta.</p>
            <div class="flex gap-4">
                <ul>
                    <li>
                        <button [routerLink]="linkSimulacion" class="rounded-lg bg-blue-600 px-5 py-2 text-white hover:bg-blue-700 transition">
                            Simular crédito
                        </button>
                    </li>
                    <li>
                        <button class="rounded-lg bg-white-600 px-5 py-2 text-blue hover:bg-gray-400 transition">
                            Conocer más
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <div class="items-center">
            <img src="graphic_resources/Hero_image_home_page.png" class="w-90 h-90"/>
        </div>
    </div>
</div>