<div class="bg-gray-50 border-t border-gray-200 gap 10">
    <br>
    <div class="flex justify-center gap-8">
        <!-- Informacion basica Nbank -->
        <div class="flex flex-col items-center text-center">
            <img src="graphic_resources/Seguridad_icon.png" class="w-12 h-12"/>
            <div> 
                <h2 class="text-3xl font-bold text-blue-600">
                    Seguro
                </h2>
                <p class="mt-3 text-gray-600">Protegemos tus datos y transacciones</p>
            </div>
        </div>
        <div class="flex flex-col items-center text-center">
            <img src="graphic_resources/Rapid_icon.png" class="w-12 h-12"/>
            <div>
                <h2 class="text-3xl font-bold text-blue-600">
                    Rápido
                </h2>
                <p class="mt-3 text-gray-600">Respuesta a tu solicitud en minutos</p>
            </div>
        </div>
        
        <div class="flex flex-col items-center text-center">
            <img src="graphic_resources/Fomulario_icon.png" class="w-12 h-12"/>
            <div>
                <h2 class="text-3xl font-bold text-blue-600">
                    Confiable
                </h2>
                <p class="mt-3 text-gray-600">Miles de clientes confian en nosotros</p>
            </div>
        </div>
    </div>
    <br>
    <div class="gap 10">
        <h1 class="text-center text-3xl font-bold text-blue-600">¿Cómo funciona?</h1>
        <br>
        <div >
            <ol class="flex justify-center gap-8">
                <li class="bg-white rounded-xl p-6 flex flex-col items-center text-center">
                    <h1 class="w-10 h-10 rounded-full bg-blue-600 text-white flex items-center justify-center font-bold">1</h1>
                    <h2 class="text-3xl font-bold text-blue-600">Regístrarse</h2>
                    <img src="graphic_resources/User_icon.png" class="w-12 h-12"/>
                    <p class="mt-3 text-gray-600">Crea tu cuenta con datos básicos.</p>
                </li>
                <li class="bg-white rounded-xl p-6 flex flex-col items-center text-center">
                    <h1 class="w-10 h-10 rounded-full bg-blue-600 text-white flex items-center justify-center font-bold">2</h1>
                    <h2 class="text-3xl font-bold text-blue-600">Solicita tu crédito</h2>
                    <img src="graphic_resources/Fomulario_icon.png" class="w-12 h-12"/>
                    <p class="mt-3 text-gray-600">Elige el monto y plan de pago que mas te guste.</p>
                </li>
                <li class="bg-white rounded-xl p-6 flex flex-col items-center text-center">
                    <h1 class="w-10 h-10 rounded-full bg-blue-600 text-white flex items-center justify-center font-bold">3</h1>
                    <h2 class="text-3xl font-bold text-blue-600">Evaluamos tu solicitud</h2>
                    <img src="graphic_resources/Aprovation_icon.png" class="w-12 h-12"/>
                    <p class="mt-3 text-gray-600">Analizamos tu informacion y te damos respuesta.</p>
                </li>
                <li class="bg-white rounded-xl p-6 flex flex-col items-center text-center">
                    <h1 class="w-10 h-10 rounded-full bg-blue-600 text-white flex items-center justify-center font-bold">4</h1>
                    <h2 class="text-3xl font-bold text-blue-600">Recibe tu dinero</h2>
                    <img src="graphic_resources/Diner_icon.png" class="w-12 h-12"/>
                    <p class="mt-3 text-gray-600">Si tu dinero fue aprovado recibe tu dinero.</p>
                </li>
            </ol>
        </div>
    </div>
    <br>
</div>