<div class="container">
    <div class="target">
        @if (cotizacion){
            <p>Estado de aprovacion del credito</p>
            <p>{{textAprovacion}}</p>
            <p>Primer Pago</p>
            <p>{{cotizacion.valores.fechaPrimerPago}}</p>
            <p>Valor Cuota</p>
            <p>{{cotizacion.simbolo}} {{cotizacion.valores.valorCuota}}</p>
            <p>Valor solicitado</p>
            <p>{{cotizacion.simbolo}} {{cotizacion.valorCredito}}</p>
            <p>Cantidad de cuotas</p>
            <p>{{cotizacion.cantidadCuotas}}</p> 
            @if(this.cotizacion.valores.valueRiesgo){
                <button routerLink="/">rechazar credito</button> 
                <br> 
                <button type="button" (click)="CrearCreditoDb()">aceptar credito</button>
            }@else{
                <button routerLink="/">Regresar al inicio</button>
            }          
        }
    </div>
</div>
